.row
  .col-sm-6
    .container{style: "width:500px; height:500px"}
      =image_tag "doc.JPG"
  .col-sm-6
    %input#x-cordinate
    %br
    %input#y-cordinate
    %br
    %input#width
    %br
    %input#height